/*General*/
html,body{
    font-family: 'Raleway', sans-serif;
}

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.decorationNone
{
    text-decoration: none;
}
.borderNone
{
    border: none;
}
.textBold{
    font-weight: bold;
}
.colorBlue{
    color: #0065FC;
}
.colorClearblue{
    color: #DEEBFF ;
}
.colorGray{
    color: #F2F2F2;
}
.backBlue{
    background-color: #0065FC;
}
.backClearblue{
    background-color: #DEEBFF ;
}
.backGray{
    background-color: #F2F2F2;
}
/**Nav*/
.sizeNav{
    height: 100px;
}
.sizeLiens {   /*45% of the parent box*/
    width: 100%;
}
.linesforjump
{
    width: 60%;
    justify-content: flex-end;
    margin-right: -20%;
}

.sizeLien {
    width: 140px;
    height: 99px;
}

.colorLien {
    color: #000;
}

.borderNav, .borderNav1
{
    border-top: 1px solid transparent;
}
.borderNav:hover, .borderNav1:hover
{
    border-top: 1px solid #0065FC; 
    color: #0065FC;
    font-size: larger;
    cursor: pointer;
}
.borderNav:hover >a, .borderNav1:hover >a
{
    color: #0065FC;
}
.margelogo{
    margin-bottom: 7px;
    width: 120px;
    height: 50px;
}

/*Header*/
.borderSearch{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingsearch{
    padding-left: 20px;
}
.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.iconSize{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.btnSearch{
    height: 50px;
    width: 120px;
    color: #fff;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.btnSearch:hover
{
    color: #0065FC;
    background-color: #f2f2f2;
}
.smartphone
{
    display: none;
}
/*Filtres*/
.margeFilter{
    margin-top: 50px;
    margin-bottom: 40px;
}
.filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.margeFilterTitle{
    margin-right: 20px;
}
.filterTextIcon{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filterTextIcon:hover > .filterIcon{
    color: #fff;
    background-color: #0065FC;
}
.filterTextIcon:hover > .filterText{
    color: #0065FC;
    font-weight: bold;
    font-size: larger;
}
.filterText{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filterIcon{
    margin-left: -2%;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #DEEBFF;
}

/*Info icon*/
.info{
    display: flex;
    align-items: center;   /*not with justify content...don't wanna put it in the center*/
}
.parentIcon{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/*Hebergement*/
.sizeHebergement{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.sizePopular{
    flex: 1;
    height: 650px;

    border-radius: 10px;
}
.blockHebergement
{
    padding-right: 20px;
    padding-left: 20px;
}
.block1{
    margin-bottom: 10px;
}
.block2{
    margin-top: 10px;
}
.cardHebergement{
    width: 30%;
    height: auto;
    background-color: #fff;
    padding: 1%;
    border-radius: 20px;
}
.cardHebergement:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.cardDetailHebergement{
    width: 90%;
}
.imgHebergement{
    width: 100%;
}
.imgHebergemntsize{
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

/*popular*/

.blockPopular{
    padding-left: 20px;
    padding-right: 20px;
}
.blockPopular12{
    margin-bottom: 20px;
    height: 540px;
}
.cardPopular{
    background-color: #fff; 
    height: auto;
    padding: 1% 0 0 1%;
    border-radius: 20px;
}
.cardPopular:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.cardDetailPopular{
    width: 60%;
    padding-left: 5%;
}
.imgPop{
    width: 35%;
}
.imgPopular{
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 15px 0 0 15px; 
}/*
.imgPopular1{
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;   
}
.imgPopular2{
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;   
}
.imgPopular3{
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;   
}
/*Activity*/

.Activity{
    margin-bottom: 50px;
    margin-top: 50px;
}
.blockActivity{
    width: 100%;
    height: 600px;
}
.blockActivity2356{
    width: 23%;
    height: 600px;
}
/*block setting*/
.cardActivity{
   width: 23%;
   border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cardActivity:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.cardActivity2356
{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2
}
.cardActivity2356:hover{
    cursor: pointer;
    transform: scale(1.01);
}
/*fin*/
.titleHeight{
    height: 70px;
}
.titleActivity{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
.imagActivity1{
    background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0; 
}
.imagActivity2{
    background-image: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0; 
}
.imagActivity3{
    background-image: url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0; 
}
.imagActivity4{
    background-image: url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0; 
}
.imagActivity5{
    background-image: url(images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0; 
}
.imagActivity6{
    background-image: url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0; 
}
/*footer*/
.footer{
    height: 300px;
    margin-top: 100px;
}
.sizeBlockFooter{
    height: 150px;
}
.marginBlockFooter1
{
    margin-left: 5%;
}
.marginBlockFooter3
{
    margin-right: 15%;
}
.footerlineColor{
    color: #000;
}
.footerlineHeight{
    height: 30px;
}

/*responsive*/


@media screen and (max-width:725px) 
{
    /*nav*/
    .sizeNav {
        height: 200px;
    }
    nav .flexBetween{
        display: flex;
        flex-wrap: wrap;
    }
    .smartphonelogoline{
        order: 1;
        flex: 1;
        justify-content: flex-end;
    }
    .linesforjump{
        display: inline-flex;
        flex: 1 100%;
        order: 2;
        justify-content: inherit;
        margin: 0;
    }
    .sizeLien
    {
        width: 50%;
    }
    .borderNav
    {
        border-top: none;
        border-bottom: 5px solid #F2F2F2;
    }
    .borderNav:hover 
    {
        border-top: none;
        border-bottom: 5px solid #0065FC; 
    }
    .borderNav:hover >a
    {
        border-top: none;
        color: #0065FC;
    }
    .borderNav1{
        border-top: transparent;
    }
    .borderNav1:hover 
    {
        border-top: 1px solid #fff;
    }
    .borderNav1:hover >a 
    {
        color: #0065FC;
    }
    /*section*/
    section{
        margin-left: 2%;
    }
    .btnSearch{
        width: 60px;
    }
    .pc
    {
        display: none;
    }
    .smartphone
    {
        display: unset;
    }
    .imgsearch-btn{
        display: flex;
    }

    .searchboxPhone {
        justify-content: space-between;
    }
    .paddingsearch {
        padding-left: 0;
    }

    /*filter*/
    .margeFilterTitle{
        flex: 1 100%;
    }
    .filters{
        width: 395px
    }
    .filterTextIcon:hover > .filterText{
        font-size: unset;
        font-size: unset;
    }
    .filterTextIcon{
        margin-bottom: 15px;
    }
/*hebergement*/
    .marginTiltePhone{
        margin-left: 12px;
    }
    .flexAround
    {
        flex-direction: column;
    }
    .blockHebergement{
        order: 2;
        background-color: unset;
        width: 100%;
        margin-left: 2%;
    }
    .block1, .block2
    {
        flex-direction: column;
    }
    .cardHebergement 
    {
        justify-content: flex-start;
        width: 94%;
        height: 200px;
        box-shadow: 2px 2px 2px 2px #f2f2f2;
        margin-bottom: 6%;
        margin-left: 25px;
        margin-right: 25px;
    }
    .imgHebergemnt1, .imgHebergemnt2, .imgHebergemnt3, .imgHebergemnt4, .imgHebergemnt5, .imgHebergemnt6
    {
        height: 130px;
    }
    .cardDetailHebergement{
        height: 60px;
        font-size: smaller;
        line-height: 0.3;
        margin-top: -3px;
    }
    .biggerTextPhone
    {
        margin-left: 15px;
        font-size: larger;
    }

    .blockPopular{
        order: 1;
        padding-bottom: 40px;
    }
    .sizePopular{
        border-radius: unset;
        width: 100%;
    }
    .cardPopular{
        margin: 10px 15px 10px 15px;
    }
/*activite*/
    .blockActivity{
        flex-direction: column;  
        height: 1300px;
    }
    .cardActivity{
        width: 95%;
        height: 200px;
        margin-bottom: 25px;
    }
    .blockActivity2356{
        width: 95%;
        height: auto;
    }
    .cardActivity2356{
        margin-bottom: 25px;
    }
    .imagActivity1, .imagActivity2, .imagActivity3, .imagActivity4, .imagActivity5, .imagActivity6
    {
        height: 140px;
    }
    .titleActivity{
        justify-content: flex-start;
    }
    .titleHeight{
        height: 60px;
    }
/*footer*/
    .footer {
        height: auto;
        width: 105%;
        flex-direction: column;
        padding: 20px 0 30px 0;
        align-items: flex-start;
        margin-left: -9px;
    }
    .marginBlockFooter1{
        margin-left: unset;
    }
    .sizeBlockFooter{
        margin-left: 5%;
    }
}
@media screen and (min-width:725px) and (max-width:1242px) {
    .linesforjump{
           margin-right: -20%;
    }
    
    .imgHebergemnt1, .imgHebergemnt2, .imgHebergemnt3, .imgHebergemnt4, .imgHebergemnt5, .imgHebergemnt6{
        height: 100px;
    }
    .sizePopular, .sizeHebergement{
        height: 700px;
    }

/*To add 'min-height' for cards works too*/

}