/*General*/
html,body{
    font-family: 'Raleway', sans-serif;
}

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.decorationNone
{
    text-decoration: none;
}
.borderNone
{
    border: none;
}
.textBold{
    font-weight: bold;
}
.colorBlue{
    color: #0065FC;
}
.colorClearblue{
    color: #DEEBFF ;
}
.colorGray{
    color: #F2F2F2;
}
.backBlue{
    background-color: #0065FC;
}
.backClearblue{
    background-color: #DEEBFF ;
}
.backGray{
    background-color: #F2F2F2;
}
/**Nav*/
.sizeNav{
    height: 100px;
}
.sizeLiens {   /*45% of the parent box*/
    width: 45%;
}
.sizeLien {
    width: 140px;
    height: 99px;
}
.colorLien13 {
    color: #0065FC;
}
.colorLien2 {
    color: #000;
}
.borderNav
{
    border-top: 1px solid #0065FC;     
}
.borderNav23
{
    border-top: 1px solid transparent;
}
.margelogo{
    margin-bottom: 7px;
}

/*Header*/
.borderSearch{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingsearch{
    padding-left: 20px;
}
.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.iconSize{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.btnSearch{
    height: 50px;
    width: 120px;
    color: #fff;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/*Filtres*/
.margeFilter{
    margin-top: 50px;
    margin-bottom: 40px;
}
.filters{
    display: flex;
    align-items: center;
}
.margeFilterTitle{
    margin-right: 20px;
}
.filterTextIcon{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filterTextIcon:hover > .filterIcon{
    color: #fff;
    background-color: #0065FC;
}
.filterTextIcon:hover > .filterText{
    color: #0065FC;
    font-weight: bold;
    font-size: larger;
}
.filterText{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filterIcon{
    margin-left: -2%;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #DEEBFF;
}

/*Info icon*/
.info{
    display: flex;
    align-items: center;   /*not with justify content...don't wanna put it in the center*/
}
.parentIcon{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
